
<div class="container-fluid">

    <div class="row">
    <div class="col-md-4" *ngFor="let item of recipes" >
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" 
              [src]="imageUrls.get(item.imageName)" *ngIf="imageUrls.get(item.imageName)" alt="Loaded Image"
               data-holder-rendered="true" style=" object-fit: cover; display: block;">

               
              <div class="card-body">
                <p class="card-text">{{item.name}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button  type="button" class="btn btn-sm btn-outline-secondary" routerLink="/recipe/{{item.id}}" >View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                 <a><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
</div>
</div>  